/*

~~~~~~~~ Basic color classes ~~~~~~~~~~~~

*/

.darkBlue{
  background-color: #2b4162;
}

.lightBlue{
  background-color: #385f71;
}

.tWhite {
  color: white;
}

.tlightBlue {
  color: #385f71;
}

.nav-link .tWhite {
  color: white;
}

.nav-link:hover, .nav-link:focus {
  color: white;
  text-decoration: underline;
}

.cardButton {
  border: 2.5px solid #385f71;
}

.cardButton:hover {
  border: none;
  background-color: #2b4162;
  color: white;
}

.singleImage {
  float: left;
  width: 400px;
  margin-right: 1em;
}

/*Paths style*/

.square {
  min-height: 200px;
}

.pathTitle {
  font-size: 1.5em;
}

.descriptionContainer {
  height: 120px;
  overflow: hidden;
}

.pathDescription {
  font-size: .9em;
}

/*Admin style*/

.adminActions {
  display: flex;
}

.form-current-img {
  max-width: 320px;
  max-height: 150px;
}

.articleContent {
  height: 500px;
}

/*

~~~~~~~ Quiz CSS ~~~~~~~

*/

.question p {
       font-size: 2em;
     }

     .question input {
       margin: 1em 0;
     }

     .question .result, .question .explaination {
       font-size: 1.5em;
     }

     .good {
       background-color: #3f7d20;
     }

     .bad {
       background-color: #db162f;
     }

     .good, .bad {
       border-top: 1em;
       border-radius: 5px;
       padding: 0.5em;
       color: white;
       max-width: 300px;
     }

     .question .explaination {
       font-size: 1.3em;
       padding: 0.5em;
     }
