/*

~~~~~~~~ Basic color classes ~~~~~~~~~~~~

*/

.darkBlue{
  background-color: #2b4162;
}

.lightBlue{
  background-color: #385f71;
}

.tWhite {
  color: white;
}

.tlightBlue {
  color: #385f71;
}

.nav-link .tWhite {
  color: white;
}

.nav-link:hover, .nav-link:focus {
  color: white;
  text-decoration: underline;
}

.cardButton {
  border: 2.5px solid #385f71;
}

.cardButton:hover {
  border: none;
  background-color: #2b4162;
  color: white;
}

/*Admin style*/

.adminActions {
  display: flex;
}

.form-current-img {
  max-width: 320px;
  max-height: 150px;
}
